<div class="main-container">
  <button class="mr-1 btn btn-labeled btn-info mb-2" type="button" [routerLink]="['/Lotes']">
    <span class="btn-label"><i class="fa fa-arrow-left"></i> </span>Regresar
  </button>
  <div class="card card-default">
    <div class="row p-3">
      <div class="col-4">
        <h4>
          Nombre:
          <small>{{ showsublote.nickname }}</small>
        </h4>
        <h4>
          Tipo de cultivo:
          <small>{{ crops.name }}</small>
        </h4>
        <h4>
          Tipo de agricultura:
          <small *ngIf="showsublote.agriculture_type === 'P'"> Protegida</small>
          <small *ngIf="showsublote.agriculture_type === 'T'">
            Tradicional</small>
        </h4>
        <p>{{ showsublote.last_modifield_date }}</p>
        <!-- <h2>{{showsublote.nickname}}</h2> -->
      </div>
      <div class="col-2 text-center">
        <strong> Color principal: </strong>

        <div class="text-29" [ngStyle]="{ color: showsublote.color }">
          <a class="fas fa-square"></a>
        </div>
      </div>
      <div class="col d-flex flex-row align-items-end">
        <div class="w-100">
          <progressbar class="progress-xs m-0" [value]="cicle.progress" type="info" style="height: 20px;">
          </progressbar>
        </div>
        <div class="ml-auto">
          <div class="col text-right">
            <div class="text-bold text-muted">{{ cicle.progress }}%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-6 p-0">
        <div class="card-body pr-0 pt-0" style="height: 100%;">
          <div class="pl-4">
            <h4 *ngIf="mostrar">Division por semanas</h4>
            <h4 *ngIf="mostrar == false">Recorridos</h4>
          </div>
          <div>
            <div class="scroll">
              <!-- Ciclo por semanas -->
              <div *ngIf="mostrar">
                <div *ngIf="cicle.progress == 100" class="d-flex justify-content-center align-items-center"
                  style="height: 500px; text-align: center;">
                  <div class="row">
                    <div class="col">
                      <p>
                        El ciclo de este sublote ha terminado,<br />
                        click en el boton para agregar un ciclo nuevo
                      </p>
                    </div>
                    <div class="col-12">
                      <button type="button" class="btn btn-success" (click)="Ciclo.show()">
                        Agregar ciclo
                      </button>
                    </div>
                  </div>
                </div>

                <div *ngFor="let item of showlote.weeks; let i = index" class="card b m-3 animated fadeIn">
                  <div *ngIf="rutas.length == 0 && item.length == 0"
                    class="d-flex justify-content-center align-items-center" style="height: 500px;">
                    <p>Lo sentimos, este sublote no tiene recorridos</p>
                  </div>

                  <div class="card-body" style="font-size: 17px;">
                    <div>
                      <div class="row">
                        <div class="col-6">
                          <strong>
                            Inicio del la semana:
                            <small>{{ item.start_date }}</small>
                          </strong>
                        </div>
                        <div class="col-6">
                          <strong>
                            Fin de la semana:
                            <small>{{ item.finish_date }}</small>
                          </strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <Strong>
                            Numero de recorridos:
                            <small>{{ item.pathings.length }}</small>
                          </Strong>
                        </div>
                        <div class="col-6"></div>
                      </div>
                      <div></div>
                    </div>
                  </div>
                  <div class="card-footer text-right bt0">
                    <!-- <button class="btn btn-success m-1" type="button" [routerLink]="['/Lotes/','lote',id]">
                      <a class="fas fa-pencil-alt"></a> </button> -->
                    <button *ngIf="item.pathings.length > 0" class="btn btn-primary m-1 respo" type="button"
                      (click)="mostrar = false">
                      <a class="fas fa-eye"></a>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Ciclo por rutas -->
              <div *ngIf="mostrar == false">
                <div *ngFor="let lote of rutas; let i = index" class="card b m-3 animated fadeIn p-3">
                  <div class="col">
                    <div class="float-right">
                      <button class="btn btn-labeled btn-warning" type="button" [routerLink]="[
                          '/Lotes/reportes/',
                          lot,
                          showsublote.id,
                          lote.id
                        ]">
                        <span class="btn-label p-1"><i class="fas fa-exclamation-triangle"></i>
                        </span>({{ lote.reports.length }}) Reportes
                      </button>
                    </div>
                    <h4 class="m-0">Recorrido #{{ i + 1 }}</h4>
                    <small class="text-muted">Sed amet lectus id.</small>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <strong>Final del recorrido</strong>
                          </td>
                          <td>
                            {{ lote.done_date }} a las {{ lote.pathingTime }}
                          </td>
                          <td>
                            <strong>Distancia Recorrida:</strong>
                            {{ sumatotal(lote, i) }}M.
                            <!-- {{calculatedistance(lote.pathingCoordinates[0],lote.pathingCoordinates[lote.pathingCoordinates.length -1] )}}M. -->
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Ingeniero</strong>
                          </td>
                          <td>
                            {{ lote.engineer }}
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Rol del ingeniero</strong>
                          </td>
                          <td>
                            {{ lote.engineer_role }}
                          </td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="card-footer text-center bt0">
                      <button class="btn btn-info" type="button" (click)="showpathings(lote)">
                        Ver recorridos
                      </button>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col">
                      <strong>Nombre de la ruta:
                        <small>{{lote.title}}</small>
                      </strong>
                    </div>
                    <div class="col">
                      <strong>Fin del recorrido:
                        <small>{{lote.done_date}} a las {{lote.pathingTime}}</small>
                      </strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <strong>Ingeniero:
                        <small>{{lote.engineer}}</small>
                      </strong>
                    </div>
                    <div class="col">
                      <strong>Rol:
                        <small>{{lote.engineer_role}}</small>
                      </strong>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="false">
            <agm-polygon [paths]="allLots" [fillOpacity]="0.1" [fillColor]="'transparent'"
              [strokeColor]="showsublote.color">
            </agm-polygon>
            <div *ngIf="mostrar">
              <agm-polyline *ngFor="let polyline of nestedPaths; let i = index" [strokeColor]="showsublote.color"
                [clickable]="true">
                <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                </agm-polyline-point>
              </agm-polyline>
            </div>
            <div *ngIf="mostrar == false">
              <agm-polyline *ngFor="let polyline of pathingCoordinates; let i = index" [strokeColor]="'#4caf50'"
                [clickable]="true">
                <div *ngFor="let lote of rutas">
                  <div *ngFor="let item of lote.reports">
                    <agm-circle [latitude]="item.lat" [longitude]="item.lng" [clickable]="false" [draggable]="true"
                      [editable]="false" [fillColor]="'#ff8000'" [fillOpacity]="1" [radius]="1">
                    </agm-circle>
                  </div>
                </div>
                <agm-marker [latitude]="polyline[0].lat" [longitude]="polyline[0].lng" [label]="'Inicio'">
                </agm-marker>
                <agm-marker [latitude]="polyline[polyline.length - 1].lat"
                  [longitude]="polyline[polyline.length - 1].lng" [label]="'Fin'">
                </agm-marker>

                <agm-polyline-point *ngFor="let point of polyline; let i = index" [latitude]="point.lat"
                  [longitude]="point.lng">
                </agm-polyline-point>
              </agm-polyline>
              <div>
                <!-- <agm-polyline *ngFor="let polyline of mostrarsublotes;let i = index;" [strokeColor]="'#4caf50'"
                [clickable]=true >              
                <agm-polyline-point *ngFor="let point of polyline.pathingCoordinates;let i = index" [latitude]="point.lat"
                  [longitude]="point.lng">
                </agm-polyline-point>
              </agm-polyline> -->
              </div>
            </div>
          </agm-map>
          <div class="row"></div>
          <div>Distance: {{ distance }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #Ciclo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="false" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog modal-lg" style="height: 52%; width: 30%;">
    <div class="modal-content" style="width: 116%;">
      <div class="modal-header p-0">
        <div class="brand-logo" style="font-size: 20px; padding: 8px;">
          <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
          Agregar ciclo del sublote
        </div>
        <div *ngIf="cicle.progress >= 100.0">
          <button type="button" class="close" aria-label="Close" (click)="Ciclo.hide()"
            style="font-size: 34px; padding: 23px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="showsublote.cicle == null">
          <button type="button" class="close" aria-label="Close" routerLink="/Lotes"
            style="font-size: 34px; padding: 23px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="cicloForm" (submit)="ciclo(sub, cicloForm.value); Ciclo.hide()">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label>Fecha de inicio</label>
                <input type="date" class="form-control" formControlName="start_date" />
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 card-modal">
                <label>Fecha final</label>
                <input type="date" class="form-control" formControlName="finish_date" />
              </div>
              <div class="d-flex justify-content-end align-items-end" style="width: 100%;">
                <div class="p-3">
                  <button *ngIf="cicloForm.valid" type="submit" class="btn btn-info">
                    Guardar ciclo <em class="far fa-calendar-plus p-1"></em>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>