agm-map {
    height: 500px;
  }
  .font-13{
    font-size: 13px;
}

.pos-button{
  position: absolute;
  z-index: 1;
  right: 32px;
  top: 14px;
}



@media screen and (max-width: 1312px) { 
  .respon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  agm-map{
   height: 412px;
  }

 }