<div class="content-heading">
  <div>Agregar un nuevo lote
    <!-- <small>Native Angular input validation</small> -->
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center align-content-center ">
    <div class="col-12 col-sm-10 col-md-9 col-lg-9 col-xl-8">
      <form [formGroup]="lotesForms" (submit)="register(lotesForms.value)">
        <div class="card ">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group row">
                  <div class="col ">
                    <label>Nombre del lote</label>
                    <div>
                      <input  class="form-control" formControlName="name" type="text" />
                    </div>
                    <span  class="text-danger" *ngIf="lotesForms.controls['name'].errors?.required">Ingresa un
                      campo
                      válido</span>
                    <!-- <span class="text-danger" *ngIf="lotesForms.controls['name'].errors?.cannotContainSpace">
                      No se permiten espacios en este campo</span> -->
                  </div>
                  <div class="col">
                    <div class="text-right p-4" *ngIf=" newpaths.length > 3">
                      <button  class="btn btn-info" type="submit"><em
                          class="fa-2x mr-2 fas fa-plus font-13"></em>Guardar información</button>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            
                  <button class="btn btn-danger pos-button" type="button" (click)="back()"><em
                    class="fa fas fa-backward"></em></button>
                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
                    (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                    <agm-marker *ngFor="let marker of newpaths" [latitude]="marker.lat" [longitude]="marker.lng"
                      [opacity]="marker.alpha" [markerDraggable]="false">
                    </agm-marker>
                    <agm-polyline *ngFor="let polyline of nestedPaths;let i = index;" [strokeColor]="	'#4caf50'">
                      <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                      </agm-polyline-point>
                    </agm-polyline>
                    <agm-polyline *ngFor="let polyline of mostrarsublotes; let i = index;"
                      [strokeColor]="polyline.color">
                      <agm-polyline-point *ngFor="let point of polyline.subfieldCoordinates" [latitude]="point.lat"
                        [longitude]="point.lng">
                      </agm-polyline-point>
                    </agm-polyline>
                  </agm-map>
           

            

                <p *ngIf="selectedMarker">
                  Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
                </p>
              </div>
            </div>
          </div>

          <div class="row text-right p-2">
            <div class="col ">
              <button *ngIf="newpaths.length >= 3 && !url" class="btn btn-success" type="button"
                (click)="pol();Modal.show();">Agregar un sub lote</button>
            </div>
          </div>
          <div class="row d-flex justify-content-center align-content-center" *ngIf="!url">
            <div class="col">
              <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Color</th>
                        <th>Nombre</th>
                        <th>Tipo de cultivo</th>
                        <th>Tipo de lote</th>
                        <th>Ciclos</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let items of sublotearray; let c = index;">
                      <tr>
                        <td>{{c + 1}}</td>
                        <td>
                          <div class="h1 mt-lg">
                            <div [ngStyle]="{'color': items.color}">
                              <a class="fas fa-square"></a>
                            </div>
                          </div>
                        </td>
                        <td>{{items.nickname}}</td>
                        <td>
                          <p *ngIf="items.agriculture_type == 'T'">Tradicional</p>
                          <p *ngIf="items.agriculture_type == 'P'">Protegida</p>
                        </td>
                        <td>{{items.crops.name}}</td>
                        <td><b>{{items.start_date}} </b> a <b> {{items.finish_date}}</b></td>
                        <td class="respon">
                          <button class="btn btn-success m-1" type="button"
                            (click)="datasublote(items,c);Modal.show();">
                            <a class="fas fa-pencil-alt"></a> </button>
                          <button  type="button" class="btn btn-danger" (click)="DeletesubloteNOID(items,c)">
                            <a class="fas fa-trash-alt"></a>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- END table-responsive-->
              </div>

            </div>
          </div>

        </div>
      </form>


    </div>
  </div>
</div>
<!-- END row-->
<div bsModal #Modal="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg " style="height: 52%;width: 100%;">
    <div class="modal-content" style="width: 116%;">
      <div class="modal-header p-0">
        <div class="brand-logo" style="font-size: 20px;padding: 8px;">
          <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
          Agregar un sublote
        </div>
        <button type="button" class="close" aria-label="Close" (click)="Modal.hide();clearform();"
          style="font-size: 34px;padding: 23px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <form [formGroup]="sublotesforms">
                <div class="form-group ">
                  <input class="form-control d-none" formControlName="_id" type="text" />

                  <div class="col-12">
                    <label>Nombre</label>
                    <input class="form-control" formControlName="nickname" type="text" />
                    <span class="text-danger" *ngIf="sublotesforms.controls['nickname'].errors?.required">Ingresa un
                      campo
                      válido</span>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-12">
                    <label>Tipo de cultivo</label>
                    <input class="form-control" formControlName="crops" type="text" />
                    <span class="text-danger" *ngIf="sublotesforms.controls['crops'].errors?.required">Ingresa un campo
                      válido</span>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-12">
                    <div data-intro="Selecciona tu ocupación." class="form-group">
                      <label>Tipo de lote</label><br>
                      <select formControlName="agriculture_type" class="form-control">
                        <option value="" disabled>
                          Seleccione una ocupación...
                        </option>
                        <option value="P" class="form-control">Protegida</option>
                        <option value="T">Tradicional</option>
                      </select>
                    </div>
                    <span class="text-danger"
                      *ngIf="sublotesforms.controls['agriculture_type'].errors?.required">Ingresa un campo
                      válido</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6" style="padding: 1px 3px 3px 30px;">
                    <label>Fecha de inicio</label>
                    <input type="date" class="form-control" formControlName="start_date">
                  </div>
                  <div class="col-6" style="    padding: 0px 23px 13px 14px;">
                    <label>Fecha final</label>
                    <input type="date" class="form-control" formControlName="finish_date">
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center">
                    Color principal:
                  </div>
                  <div class="col text-center">
                    <div class="h1 clickable mt-lg" [(colorPicker)]="colorDemo1" [cpPosition]="'bottom'"
                      [style.color]="colorDemo1" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true">
                      <div>
                        <a class="fas fa-square"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <button *ngIf="pathsSubLotes.length > 3 && sublotesforms.valid " class="btn btn-success"
                    type="button" (click)="sublotenew(sublotesforms.value);Modal.hide();">Guardar datos</button>
                </div>

              </form>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <button class="btn btn-danger pos-button" type="button" (click)="backsubfield()"><em
                class="fa fas fa-backward"></em></button>
              <!-- <div class="text-right p-2" style="position: absolute;z-index: 1;right: 18px;">
                <button class="btn btn-danger " type="button" (click)="clearsublote()"><em
                    class="fa fas fa-trash"></em></button>
              </div> -->
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
                (mapClick)="addMakerSubLote($event.coords.lat, $event.coords.lng)">
                <agm-marker *ngFor="let marker of pathsSubLotes" [label]="'holamun'"  [latitude]="marker.lat" [longitude]="marker.lng"
                  [opacity]="marker.alpha" [markerDraggable]="false">
                </agm-marker>
                <agm-polyline *ngFor="let polyline of nestedPaths;let i = index;" [strokeColor]="	'#4caf50'">
                  <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                  </agm-polyline-point>
                </agm-polyline>
                <agm-polyline *ngFor="let polyline of mostrarsublotes;let i = index;" [strokeColor]="polyline.color">
                  <agm-polyline-point *ngFor="let point of polyline.subfieldCoordinates" [latitude]="point.lat"
                    [longitude]="point.lng">
                  </agm-polyline-point>
                </agm-polyline>
                <agm-polyline *ngFor="let polyline of pathSub;let i = index;" [strokeColor]="colorDemo1">
                  <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                  </agm-polyline-point>

                </agm-polyline>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
