<div class="content-heading">
  <div>Agregar un nuevo lote
    <!-- <small>Native Angular input validation</small> -->
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center align-content-center ">
    <div class="col-12 col-sm-10 col-md-9 col-lg-9 col-xl-8">
      <form [formGroup]="lotesForms" (submit)="register(lotesForms.value)">
        <div class="card ">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <div class="form-group row">
                  <div class="col ">
                    <label>Nombre del lote</label>
                    <input *ngIf="!id" class="form-control" formControlName="name" type="text" />
                    <input *ngIf="id" class="form-control" formControlName="name" type="text" disabled />

                    <span class="text-danger" *ngIf="lotesForms.controls['name'].errors?.required">Ingresa un
                      campo
                      válido</span>
                    <!-- <span class="text-danger" *ngIf="lotesForms.controls['name'].errors?.cannotContainSpace">
                      No se permiten espacios en este campo</span> -->
                  </div>
                </div>

              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            
                <!-- <agm-map [latitude]="options.lat" [longitude]="options.lng" >
                </agm-map> -->
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                  <agm-polygon [paths]="newpaths"></agm-polygon>
                </agm-map>

                <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14"
                (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                <agm-marker *ngFor="let marker of newpaths" [latitude]="marker.lat" [longitude]="marker.lng"
                 [opacity]="marker.alpha"[markerDraggable]="true" (markerClick)="selectMarker($event)" >
                </agm-marker>
              </agm-map> -->
                <!-- <agm-polyline *ngFor="let data of paths" [editable]="true">
                  <agm-polyline-point
                    [latitude]="lat"
                    [longitude]="lng">
                  </agm-polyline-point>
    </agm-polyline> -->

              <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                      <agm-polylin>
                          <agm-polyline-point *ngFor="let item of paths[1]; let i = index" [latitude]="item.lat" [longitude]="item.lng">
                          </agm-polyline-point>
                        
                      </agm-polyline>
                    </agm-map> -->
              <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map> -->
              <p  *ngIf="selectedMarker">
                Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
              </p>
              </div>
            </div>
          </div>
          <div *ngIf="lotesForms.valid" class="card-footer card-default text-center">
            <button class="btn btn-info" type="submit"><em class="fa-2x mr-2 fas fa-plus font-13"></em>Guardar</button>
          </div>
          <div *ngIf="id !== null" class="row text-right p-2">
            <div class="col ">
              <button class="btn btn-success" (click)="Modal.show()">Agregar un sub lote</button>
            </div>
          </div>
          <div *ngIf="id !== null" class="row d-flex justify-content-center align-content-center ">
            <div class="col">
              <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Tipo de cultivo</th>
                        <th>Tipo de lote</th>
                        <th>Fechas</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let items of sublotearray; let c = index;">
                      <tr>
                        <td>{{c + 1}}</td>
                        <td>{{items.nickname}}</td>
                        <td>{{items.agriculture_type}}</td>
                        <td>{{items.TypeL}}</td>
                        <td><b>{{items.start_date}} </b> a <b> {{items.finish_date}}</b></td>
                        <td>
                          <button class="btn btn-success m-1" type="button" (click)="datasublote(items);Modal.show();">
                            <a class="fas fa-pencil-alt"></a> </button>
                          <button class="btn btn-danger" >
                            <a class="fas fa-trash-alt" ></a>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- END table-responsive-->
              </div>

            </div>
          </div>

        </div>
      </form>


    </div>
  </div>
</div>
<!-- END row-->
<div bsModal #Modal="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg " style="height: 52%;width: 100%;">
    <div class="modal-content" style="width: 116%;">
      <div class="modal-header p-0">
        <div class="brand-logo" style="font-size: 20px;padding: 8px;">
          <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
          Agregar un sublote
        </div>
        <button type="button" class="close" aria-label="Close" (click)="Modal.hide()"
          style="font-size: 34px;padding: 23px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <form [formGroup]="sublotesforms" (submit)="sublote(sublotesforms.value)">
                <div class="form-group ">
                  <div class="col-12">
                    <label>Nombre</label>
                    <input class="form-control" formControlName="nickname" type="text" />
                    <span class="text-danger" *ngIf="sublotesforms.controls['nickname'].errors?.required">Ingresa un campo
                      válido</span>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-12">
                    <label>Tipo de cultivo</label>
                    <input class="form-control" formControlName="agriculture_type" type="text" />
                    <span class="text-danger" *ngIf="sublotesforms.controls['agriculture_type'].errors?.required">Ingresa un campo
                      válido</span>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-12">
                    <div data-intro="Selecciona tu ocupación." class="form-group">
                      <label>Tipo de lote</label><br>
                      <select formControlName="TypeL" class="form-control">
                        <option value="" disabled>
                          Seleccione una ocupación...
                        </option>
                        <option value="Protegida" class="form-control">Protegida</option>
                        <option value="Tradicional">Tradicional</option>
                      </select>
                    </div>
                    <span class="text-danger" *ngIf="sublotesforms.controls['TypeL'].errors?.required">Ingresa un campo
                      válido</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6" style="padding: 1px 3px 3px 30px;">
                    <label>Fecha de inicio</label>
                    <input type="date" class="form-control" formControlName="start_date" >
                  </div>
                  <div class="col-6" style="    padding: 0px 23px 13px 14px;">
                    <label>Fecha final</label>
                    <input type="date" class="form-control" formControlName="finish_date">
                  </div>
                </div>
                <div class="text-center mt-3">
                  <button class="btn btn-success " type="submit" (click)="Modal.hide()">Agregar</button>
                </div>
               

              </form>
            </div>
            <div class="col">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" style="width: 474px;
                height: 433px;">
                <agm-polygon [paths]="paths"></agm-polygon>
              </agm-map>
              <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14"
              (mapClick)="addMakerSubLote($event.coords.lat, $event.coords.lng)">
              <agm-marker *ngFor="let marker of pathsSubLotes" [latitude]="marker.lat" [longitude]="marker.lng"
               [opacity]="marker.alpha"[markerDraggable]="true" (markerClick)="selectMarker($event)" >
              </agm-marker>
            </agm-map> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
