<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <form [formGroup]="tareasForm">
          <div class="form-group ">
            <input class="form-control d-none" formControlName="id" type="text" />
            <div class="col-12">
              <label>Nombre</label>
              <input class="form-control" formControlName="name" type="text" />
              <span class="text-danger" *ngIf="tareasForm.controls['name'].errors?.required">Ingresa un
                dato válido</span>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-12">
              <label>Descripcion</label>
              <textarea class="form-control" formControlName="description" type="text"></textarea>
              <span class="text-danger" *ngIf="tareasForm.controls['description'].errors?.required">Ingresa un
                dato válido</span>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-12">
              <div data-intro="Selecciona el ingeniero." class="form-group">
                <label>Ingeniero</label><br>
                <select formControlName="engineer" class="form-control">
                  <option value="" disabled>
                    Seleccione un ingeniero...
                  </option>
                    <option  *ngFor="let item of ingeniero"  class="form-control">{{item.names}}</option>
                </select>
              </div>
            <span class="text-danger" *ngIf="tareasForm.controls['engineer'].errors?.required">Ingresa un
                dato válido</span>    
            </div>
          </div> 
          <div class="form-group ">
            <div class="col-12">
              <div data-intro="Selecciona el lote" class="form-group">
                <label>Lote</label><br>
               <select (change)="changeOrderIncidence($event.target.value)" formControlName="lotes" class="form-control" >
                        <option value="" disabled>
                          Seleccione un lote...
                        </option>
                        <option *ngFor="let item of lote" [value]="item.id" class="form-control">{{item.name}}</option>
                      </select>
              </div>
            </div>
          </div>
          <!-- <div class="form-group ">
            <div class="col-12">
              <div data-intro="Selecciona el Sublote." class="form-group">
                <label>SubLote</label><br>
                <select formControlName="sublotes" class="form-control">
                  <option value="" disabled>
                    Seleccione un sublote...
                  </option>
                    <option  *ngFor="let item of sublote"  class="form-control">{{item.names}}</option>
                </select>
              </div>
              <span class="text-danger" *ngIf="tareasForm.controls['sublote'].errors?.required">Ingresa un
                dato válido</span>     
            </div>
          </div> -->
         
          <div class="form-group ">
            <div class="col-12">
              <label class="switch m-0">
                <label class="mr-4">Establecer fecha limite:</label>
                <input class="form-control ml-4" formControlName="swDate" type="checkbox" checked="checked" />
                <span></span>
              </label>
            </div>
          </div>

          <div *ngIf="tareasForm.controls.swDate.value == true">
            <div class="form-group ">
              <div class="col-12">
                <label>Fecha inicial:</label>
                <input class="form-control" formControlName="startDate" type="date" />
                <span class="text-danger" *ngIf="tareasForm.controls.startDate.value == '' ">Ingresa un
                  dato válido</span>
              </div>
            </div>
            <div class="form-group ">
              <div class="col-12">
                <label>Fecha final:</label>
                <input class="form-control" formControlName="endDate" type="date" />
                <span class="text-danger" *ngIf="tareasForm.controls.endDate.value == ''">Ingresa un
                  dato válido</span>
              </div>
            </div>
          </div>
           

          <div class="text-center mt-3">
            <button class="btn btn-success" type="button" (click)="guardarTarea(tareasForm.value)">Guardar
              datos</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 card-modal">
        <button class="btn btn-danger pos-button" type="button" (click)="backsubfield()"><em
            class="fa fas fa-backward"></em></button> 
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
            (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
          <agm-marker *ngFor="let item of newTask" [latitude]="item.lat" [longitude]="item.lng"
                    [opacity]="1" [markerDraggable]="true">
                  </agm-marker>
        <agm-polyline *ngFor="let polyline of nestedField;let i = index;" [strokeColor]="'#4caf50'">
          <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
          </agm-polyline-point>
        </agm-polyline>
        </agm-map>
      
      </div>
    </div>
  </div>
</div>