<div class="modal-body">
  <div class="card p-3">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <form [formGroup]="tareasForm">
          <div class="form-group ">
            <input class="form-control d-none" formControlName="id" type="text" />
            <div class="col-12">
              <label>Nombre</label>
              <input class="form-control" formControlName="name" type="text" />
              <span class="text-danger" *ngIf="tareasForm.controls['name'].errors?.required">Ingresa un
                dato válido</span>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-12">
              <label>Descripcion</label>
              <textarea class="form-control" formControlName="description" type="text"></textarea>
              <span class="text-danger" *ngIf="tareasForm.controls['description'].errors?.required">Ingresa un
                dato válido</span>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-12">
              <div data-intro="Selecciona el ingeniero." class="form-group">
                <label>Ingeniero</label><br>
                <select formControlName="engineer" class="form-control">
                  <option value="" disabled>
                    Seleccione un ingeniero...
                  </option>
                  <option *ngFor="let item of ingeniero" [value]="item.user.username" class="form-control">
                    {{item.names}}</option>
                </select>
              </div>
              <span class="text-danger" *ngIf="tareasForm.controls['engineer'].errors?.required">Ingresa un
                dato válido</span>
            </div>
          </div>

          <div class="form-group ">
            <div class="col-12">
              <label class="switch m-0">
                <label class="mr-4">Establecer fecha limite:</label>
                <input class="form-control ml-4" formControlName="swDate" type="checkbox" checked="checked" />
                <span></span>
              </label>
            </div>
          </div>

          <div *ngIf="tareasForm.controls.swDate.value == true">
            <div class="form-group ">
              <div class="col-12">
                <label>Fecha inicial:</label>
                <input class="form-control" formControlName="startDate" type="date" />
                <span class="text-danger" *ngIf="tareasForm.controls.startDate.value == '' ">Ingresa un
                  dato válido</span>
              </div>
            </div>
            <div class="form-group ">
              <div class="col-12">
                <label>Fecha final:</label>
                <input class="form-control" formControlName="endDate" type="date" />
                <span class="text-danger" *ngIf="tareasForm.controls.endDate.value == ''">Ingresa un
                  dato válido</span>
              </div>
            </div>
          </div>


          <div class="text-center mt-3">
            <button class="btn btn-success" [disabled]="!tareasForm.valid && id==null" type="button"
              (click)="registrar(tareasForm.value)">Guardar
              datos</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 card-modal">
        <!-- MAPA -->
        <!-- <button class="btn btn-danger pos-button" type="button" (click)="back();modalshowSelected('@getbootstrap')"><em
            class="fa fas fa-backward"></em></button> -->
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
          (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
          <div>
            <agm-marker *ngFor="let item of newTask" [latitude]="item.lat" [longitude]="item.lng" [opacity]="1"
              [markerDraggable]="false">
            </agm-marker>
            <agm-marker *ngFor="let item of startEnd" [latitude]="item.lat" [longitude]="item.lng" [opacity]="1"
              [markerDraggable]="false" [iconUrl]='icon.img'>
            </agm-marker>
          </div>
          <agm-polyline *ngFor="let polyline of nestedField;let i = index;" [strokeColor]="'#4caf50'">
            <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
            </agm-polyline-point>
          </agm-polyline>
          <agm-polyline *ngFor="let polyline of routes;let i = index;">
            <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
            </agm-polyline-point>
          </agm-polyline>
          <agm-polyline *ngFor="let polyline of nestedSubfield; let i = index;" [strokeColor]="'#4caf50'">
            <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
            </agm-polyline-point>
          </agm-polyline>
        </agm-map>

      </div>
    </div>
  </div>
</div>


<div bsModal #selected="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog modal-md " style="height: 81%;width: 100%;">
    <div class="modal-content" style="width: 116%;">
      <div class="modal-header p-0">
        <div class="brand-logo" style="font-size: 20px;padding: 8px;">
          <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
          Selecciona un tipo de tarea
        </div>
        <button type="button" class="close" routerLink='/Tareas' style="font-size: 34px;padding: 23px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mapa-modal">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
              <agm-marker *ngFor="let item of newTask" [latitude]="item.lat" [longitude]="item.lng" [opacity]="1"
                [markerDraggable]="true">
              </agm-marker>
              <agm-polyline *ngFor="let polyline of nestedField;let i = index;" [strokeColor]="'#4caf50'">
                <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                </agm-polyline-point>
              </agm-polyline>
              <agm-polyline *ngFor="let polyline of routes;let i = index;">
                <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                </agm-polyline-point>
              </agm-polyline>
              <agm-polyline *ngFor="let polyline of nestedSubfield; let i = index;" [strokeColor]="color">
                <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                </agm-polyline-point>
              </agm-polyline>
            </agm-map>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group" *ngIf="id==null">
              <div class="col-12">
                <div data-intro="Selecciona el lote" class="form-group">
                  <label>Lote</label><br>
                  <select (change)="changeOrderIncidence($event.target.value)" class="form-control">
                    <option value="" disabled>
                      Seleccione un lote...
                    </option>
                    <option *ngFor="let item of lote" [value]="item.id" class="form-control">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="id==null">
              <div class="col-12">
                <div data-intro="Selecciona el Sublote." class="form-group">
                  <label>SubLote</label><br>
                  <select (change)="changeSublotePicker($event.target.value)" class="form-control">
                    <option value="">
                      Seleccione un sublote...
                    </option>
                    <option *ngFor="let item of sublote" [value]="item.id" class="form-control">{{item.nickname}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row  text-center" *ngIf="nestedSubfield.length > 0 && field.length >0">
          <div class="col-12 p-3">
            Selecciona el tipo de reporte que deseas
          </div>
          <div class="col">
            <Button class="btn btn-info" type='button' (click)="type('Individual')">Individual</Button>
          </div>
          <div class="col">
            <Button class="btn btn-success" type='button' (click)="type('Group')">Grupal</Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div bsModal #description="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="false" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog modal-lg " style="height: 81%;width:30%;">
    <div class="modal-content" style="width: 116%;">
      <div class="modal-header p-0">
        <div class="brand-logo" style="font-size: 20px;padding: 8px;">
          <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
          Agregar un objetivo
        </div>

      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="descriptionForm">
            <div class="form-group ">
              <div class="col-12">
                <label>Nombre</label>
                <input class="form-control" formControlName="description" type="text" />
                <span class="text-danger" *ngIf="descriptionForm.controls['description'].errors?.required">Ingresa un
                  dato válido</span>
              </div>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-success" [disabled]="!descriptionForm.valid" type="button"
                (click)="submitDescription(descriptionForm.value); description.hide()">Aceptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>