

  <div class="alt">
    <div class="main-container">
      <div class="row">
        <div class="col-12">
          <h3 class="m-0">Administradores</h3>
        </div>
    <div class="col">
      <p class="text-18">Ve la lista de administradores, edita, habilita/deshabilita o agrega nuevos.</p>
    </div>
      </div>
      
    </div>
  </div>

<div class="main-container">
<div class="row">
  <div class="col">
    <em class="fa-2x mr-2 fas fa-search pos-icon"></em>
    <input class="form-control mb-2" type="text" placeholder="       Search" />
  </div>
  <div class="col text-right">
    <button class="mb-1 mr-1 btn btn-success" type="button" routerLink="/Admin-Edit/new">Agregar nuevo Administrador</button>
  </div>
</div>

  <div class="row mt-4">
    <div class="col">
      <div class="card card-default">
         <div class="card-header">Basic Table</div>
         <div class="card-body">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>