.polig {
  width: 10px;
  height: 10px;
  font-family: arial;
  font-weight: bold;
}

.font-13 {
  font-size: 13px;
}

label {
  margin: 0px;
}

.input-mod2 {
  padding: 5px 10px;
  background: #663399;
  color: #fff;
  border: 0px solid #fff;
  cursor: pointer;
}
