.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

agm-map {
  height: 409px;
}

.info {
  width: 300px;

  p {
    margin-bottom: 0px;
  }
}

.datatable-body {
  height: 289.4px !important;
}
