<div class="main-container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-0">

      <div class="col-12 p-0">
        <div class="card">
          <div class="row">
            <div class="col-3 center ">
              <em *ngIf="technicalIncidence.length > 0" class="fa-7x icon-settings "></em>
              <em *ngIf="agriculturalIncidence.length  > 0 " class="fa-7x fab fa-envira "></em>
            </div>
            <div class="col p-0">
              <div *ngIf="Incidence">
                <h4>Datos de incidencia</h4>
                <div class="row">
                  <div class="col p-0">
                    <p>{{Incidence.description}}</p>
                    <p>{{Incidence.datetime | date: 'dd/mm/yyyy'}}</p>
                    <p>{{Incidence.field_name}}</p>
                  </div>
                  <div class="col">
                    <p>{{Incidence.id}}</p>
                    <p>Estado actual:</p>
                    <p *ngIf="Incidence.type === 'A'">Agricola</p>
                    <p *ngIf="Incidence.type === 'T'">Técnica</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 p-0   ">
          <div class="card">
            <div class="card-body  p-0">
              <ngx-datatable #table class="bootstrap expandable material fullscreen "
                style="height: 350px; box-shadow: none; width: 100%;" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [scrollbarH]="true" [rows]='reports'
                [headerHeight]="50">
                <!-- Column Templates -->
                <ngx-datatable-column name="#" [width]="50" [canAutoResize]="false">
                  <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <strong>{{rowIndex + 1}}</strong>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Titulo de incidencia">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{row.name.name}}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.datetime | date: 'dd/MM/yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Acción">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="btn btn-primary m-1" type="button" (click)="ViewReport(row)">
                      Ver historial </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div *ngFor="let item of ReportsPaths">
            <div *ngIf="item.type === 2">
              <div class="row">
                <div class="col-12 border-bottom p-2">
                  <p><b>Titulo:</b>{{item.title}}</p>
                </div>
                <div class="col-12 border-bottom p-2">
                  <p><b>observation:</b>{{item.observation}}</p>
                </div>
                <div class="col-12 border-bottom p-2">
                  <p><b>Fecha:</b> {{item.datetime | date: 'dd-MM-yyyy'}}</p>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-6 border-bottom p-2">
                      <p><b>Videos:</b></p>
                      <p *ngIf="item.videos.length > 0"><b>Videos: {{item.length}}</b> {{item.observation}}</p>
                    </div>
                    <div class="col-6 border-bottom p-2 center">
                      <p *ngIf="item.videos.length === 0">No tienes videos disponibles</p>
                      <div *ngIf="item.videos.length > 0">
                        <button class="btn btn-info" type="button" (click)="viewModal(item,'video')"><em
                            class="fa fa-eye"></em></button>
                        <button class="btn btn-info ml-2" type="button"><em class="fa fa-download "></em></button>
                      </div>
                    </div>
                    <div class="col-6 border-bottom p-2">
                      <!-- <a href="www.google.com"><img src="../../../assets/img/logo.png" alt="img" style="width:42px;height:42px;"></a> -->
                      <p *ngIf="item.audios.length > 0"><b>Audios:</b> {{item.audios.length}}</p>
                    </div>
                    <div class="col-6 border-bottom p-2 center">
                      <p *ngIf="item.audios.length === 0"><b>Audios:</b>No audios disponibles</p>
                      <div *ngIf="item.audios.length > 0">
                        <button class="btn btn-info" type="button" (click)="viewModal(item,'audios')"><em
                            class=" fa fa-eye"></em></button>
                      </div>
                    </div>
                    <div class="col-6 border-bottom p-2">
                      <p *ngIf="item.images.length > 0"><b>Imagenes:</b>{{item.images.length}}</p>
                    </div>
                    <div class="col-6 border-bottom p-2 center">
                      <p *ngIf="item.images.length === 0">>No imagenes disponibles</p>
                      <div *ngIf="item.audios.length > 0">
                        <button class="btn btn-info" type="button" (click)="viewModal(item,'images')"><em
                            class="fa fa-eye"></em></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="true" [mapTypeControl]='true'>
          <!-- <agm-marker *ngFor="let marker of newpaths" [latitude]="marker.lat" [longitude]="marker.lng"
            [opacity]="marker.alpha" [markerDraggable]="false">
          </agm-marker> -->
          <agm-marker *ngIf="reporttechnicalIncidence.lat" [latitude]="reporttechnicalIncidence.lat"
            [longitude]="reporttechnicalIncidence.lng" [opacity]="0.9" [markerDraggable]="false">
          </agm-marker>
          <div *ngFor="let item of ReportsPaths">
            <agm-marker [latitude]="item.lat" [longitude]="item.lng">
              <agm-info-window>
                <div class="info">
                  <p><b>Titulo:</b>{{item.title}}</p>
                  <p><b>observation:</b>{{item.observation}}</p>
                  <p><b>Fecha:</b>{{item.datetime | date:" dd/MM/yyyy"}}</p>

                </div>

              </agm-info-window>
            </agm-marker>
          </div>

          <agm-polyline *ngFor="let polyline of nestedPaths;let i = index;" [strokeColor]="'#4caf50'">
            <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
            </agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </div>

      <div class="col ">
        <div class="card " *ngIf="type === 'agriculturalIncidence'">
          <div class="card-header">
            <b> Datos del reporte:</b>
          </div>
          <div class="card-body ">
            <div class="row center">
              <div class="col-10 text-center border">
                <p><b>Nombre: </b>{{reportAgricola.name.name}}</p>
                <p><b>Fecha:</b>{{reportAgricola.datetime | date: 'dd-MM-yyyy'}}</p>
                <div class="center">
                  <div class="col-2 text-center">
                    <div *ngIf="reportAgricola.fruit == 1" class="icon " style="color: #008f39">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">Planta</b>
                    </div>
                    <div *ngIf="reportAgricola.fruit == 2" class="icon " style="color: #ffff00">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">Planta</b>
                    </div>
                    <div *ngIf="reportAgricola.fruit == 3" class="icon " style="color: #cb3234">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">Planta</b>
                    </div>
                  </div>
                  <div class="col-2 text-center">
                    <div *ngIf="reportAgricola.ground == 1" class="icon" style="color: #008f39 ">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">suelo</b>
                    </div>
                    <div *ngIf="reportAgricola.ground == 2" class="icon" style="color: #ffff00 ">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">suelo</b>
                    </div>
                    <div *ngIf="reportAgricola.ground == 3" class="icon" style="color: #cb3234 ">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">suelo</b>
                    </div>
                  </div>
                  <div class="col-2 text-center">
                    <div *ngIf="reportAgricola.plant == 1" class="icon" style="color: #008f39">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">Hoja</b>
                    </div>
                    <div *ngIf="reportAgricola.plant == 2" class="icon" style="color: #ffff00">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">Hoja</b>
                    </div>
                    <div *ngIf="reportAgricola.plant == 3" class="icon" style="color: #cb3234">
                      <a class="fas fa-2x fa-square"></a>
                      <b style="color:black">Hoja</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="type === 'technicalIncidence'">
          <div class="card-header">
            Datos del reporte
          </div>
          <div class="card-body">
            <div *ngIf="reporttechnicalIncidence.title">
              <b>Titulo:</b> {{reporttechnicalIncidence.title}}
            </div>
            <div *ngIf="reporttechnicalIncidence.observation">
              <b>Obsevación:</b>{{reporttechnicalIncidence.observation}}<br>
            </div>
            <div *ngIf="reporttechnicalIncidence.number">
              <b>Numero de reporte:</b>{{reporttechnicalIncidence.number}}
            </div>
            <div *ngIf="reporttechnicalIncidence === {}" class="center">
              <div>
                Reporte no seleccionado
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col ">
        <div *ngIf="agriculturalIncidence.length > 0">
          <div *ngFor="let item of agriculturalIncidence">
            <div class="card ">
              <div class="row m-3">
                <div class="col-3 center">
                  <em class="fa-6x fab fa-envira"></em>
                </div>
                <div class="col m-0 p-0 text-incidencia">
                  <div>
                    <p><b>Tipo de incidencia:</b><small>{{item.name.name}}</small></p>
                    <p><b>Fecha:</b><small>{{item.datetime | date: 'dd/MM/yyyy'}}</small></p>
                  </div>
                </div>
              </div>
              <div>
                <div class="container text-center m-3">
                  <div class="row center">
                    <div class="col-2 text-center">
                      <div *ngIf="item.fruit == 1" class="icon center" style="color: #008f39">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Planta</b>
                      </div>
                      <div *ngIf="item.fruit == 2" class="icon center" style="color: #ffff00">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Planta</b>
                      </div>
                      <div *ngIf="item.fruit == 3" class="icon center" style="color: #cb3234">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Planta</b>
                      </div>
                    </div>
                    <div class="col-2 text-center">
                      <div *ngIf="item.ground == 1" class="icon center" style="color: #008f39 ">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">suelo</b>
                      </div>
                      <div *ngIf="item.ground == 2" class="icon center" style="color: #ffff00 ">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">suelo</b>
                      </div>
                      <div *ngIf="item.ground == 3" class="icon center" style="color: #cb3234 ">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">suelo</b>
                      </div>
                    </div>
                    <div class="col-2 text-center">
                      <div *ngIf="item.stem === 1" class="icon center" style="color: #008f39 ">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Tallo</b>
                      </div>
                      <div *ngIf="item.stem === 2" class="icon center" style="color: #ffff00 ">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Tallo</b>
                      </div>
                      <div *ngIf="item.stem === 3" class="icon center" style="color: #cb3234 ">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Tallo</b>
                      </div>
                    </div>
                    <div class="col-2 text-center">
                      <div *ngIf="item.leaf == 1" class="icon center" style="color: #008f39">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Hoja</b>
                      </div>
                      <div *ngIf="item.leaf == 2" class="icon center" style="color: #ffff00">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Hoja</b>
                      </div>
                      <div *ngIf="item.leaf == 3" class="icon center" style="color: #cb3234">
                        <a class="fas fa-2x fa-square"></a>
                        <b style="color:black;margin-left:4px;">Hoja</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type === 'technicalIncidence'">
          <div *ngFor="let item of technicalIncidence">
            <div class="card ">
              <div class="row m-3">
                <div class="col-3 center">
                  <em class="fa-6x fab icon-settings"></em>
                </div>
                <div class="col m-0 p-0 text-incidencia">
                  <div>
                    <p><b>Tipo de incidencia:</b><small>{{item.name.name}}</small></p>
                    <p><b>Fecha:</b><small>{{item.datetime | date: 'dd/MM/yyyy'}}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #views="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog modal-md " style="height: 81%;width: 100%;">
    <div class="modal-content" style="width: 116%;">
      <div class="modal-header p-0">
        <div class="brand-logo" style="font-size: 20px;padding: 8px;">
          <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
          Selecciona un tipo de tarea
        </div>
        <button type="button" class="close" style="font-size: 34px;padding: 23px;" (click)="views.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="images.length > 0">
          <p>Videos</p>
        </div>
        <div *ngIf="videos.length > 0">
          <p>videos</p>
        </div>
        <div *ngIf="audios.length > 0">
          <div *ngFor="let item of audios; let i = index">
            <div class="row">
              <div class="col">
                <p><b>Audio: #{{ i + 1 }}</b></p>
              </div>
              <div class="col">
                <button class="btn btn-info" (click)="reproducir(Url+item.audio)"><em
                    class="fa fa-eraser"></em></button>
                <audio controls>
                  <source [src]='Url+item.audio' type="audio/3gp">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>