<div class="main-container">
  <button class="mr-1 btn btn-labeled btn-info mb-2" type="button" (click)="goback()">
    <span class="btn-label"><i class="fa fa-arrow-left"></i>
    </span>Regresar</button>
  <div class="row justify-content-center">
    <div class="col-9">

      <div class="card  ">
        <div class="row p-3">
          <div class="col col-sm-12 col-md-7 col-lg-6 col-xl-6">
            <!-- <gallery id="basic-test" fluid [items]="items"></gallery> -->
            <div class="row">
              <div class="col ">
                <!-- <div class="bigImage" target="_blank">
                  <a download>
                    <img [src]="url + img" [alt]="img">
                  </a>
                </div> -->
                <div class="carousel">
                  <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of slides; let i = index">
                      <ng-template carouselSlide [id]="i">
                        <img [src]="url + slide.image" [alt]="i + 1 " [title]="i + 1"
                          (click)="Image.show();imagen(slide.image)">
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>

                </div>



              </div>
              <div class="col ">
                <!-- <div>
             <div class="gallery" *ngFor="let item of data.images;let i = index;">
               <img [src]="url + item.image" [alt]="i+1" width="600" height="400" (click)="imagen(item)">
            </div>
           </div> -->
                <!-- <div class="scrolling-wrapper">
                  <div class="card" *ngFor="let item of data.images;let i = index;">
                    <img [src]="url + item.image" [alt]="i+1" width="600" height="400" (click)="imagen(item)">
                  </div>
                </div> -->

              </div>
              <div>
                <!-- <carousel [interval]="myInterval" [noWrap]="false">
                  <slide *ngFor="let item of data.images;let i = index;" [active]="item.active">
                    <img [src]="url + item.image" [alt]="i+1" width="600" height="400" (click)="imagen(item)">
                  </slide>
                </carousel> -->
              </div>
            </div>

          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <p *ngIf="video.length == 0">Lo sentimos no tienes videos disponibles</p>
            <div *ngFor="let item of video;let i = index;">
              <video controls>
                <source [src]="url+item.video" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
        <div class="row p-3">
          <div class="col">
            <h4>Nombre:
              <small>{{data.title}}</small>
            </h4>
            <h4>Descripción:
              <small> {{data.observation}}</small>
            </h4>
            <h4>Fecha:
              <small>{{data.datetime}}</small>
            </h4>
          </div>
        </div>
        <h2 class="p-3">Incidencia</h2>
        <div class="row p-3">
          <div class="col">
            <div *ngIf="agriculturalIncidence" class="row">
              <div class="col">
                <div class="cent">
                  <img src="https://img.icons8.com/ios/50/000000/ground.png" />
                  <p>Suelo</p>

                  <div *ngIf="agriculturalIncidence.ground == 1" class="icon" style="color: #008f39">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.ground == 2" class="icon" style="color: #ffff00 ">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.ground == 3" class="icon" style="color: #cb3234 ">
                    <a class="fas fa-square"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="cent">
                  <img src="https://img.icons8.com/ios-filled/50/000000/sprout.png" />
                  <p>Tallo</p>
                  <div *ngIf="agriculturalIncidence.stem == 1" class="icon" style="color: #008f39">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.stem == 2" class="icon" style="color: #ffff00 ">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.stem == 3" class="icon" style="color: #cb3234 ">
                    <a class="fas fa-square"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="cent">
                  <img src="https://img.icons8.com/ios-filled/50/000000/leaf.png" />
                  <p>Hoja</p>
                  <div *ngIf="agriculturalIncidence.leaf == 1" class="icon" style="color: #008f39">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.leaf == 2" class="icon" style="color: #ffff00 ">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.leaf == 3" class="icon" style="color: #cb3234 ">
                    <a class="fas fa-square"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="cent">
                  <img src="https://img.icons8.com/ios-filled/50/000000/melon.png" />
                  <p>Fruto</p>
                  <div *ngIf="agriculturalIncidence.fruit == 1" class="icon" style="color: #008f39">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.fruit == 2" class="icon" style="color: #ffff00 ">
                    <a class="fas fa-square"></a>
                  </div>
                  <div *ngIf="agriculturalIncidence.fruit == 3" class="icon" style="color: #cb3234 ">
                    <a class="fas fa-square"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #Image="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="false">
    <div class="modal-dialog modal-lg" style="height: 83%;
    width: 50%;">
      <div class="modal-content" style="width: 116%;">
        <div class="modal-header p-0">
          <div class="brand-logo" style="font-size: 20px; padding: 8px;">
            <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
            Imagen
          </div>
          <div>
            <button type="button" class="close" aria-label="Close" (click)="Image.hide()"
              style="font-size: 34px; padding: 23px;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        </div>
        <div class="modal-body p-1">
          <div class="container">
            <div>

              <img [src]="url + img" alt='' width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>