div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 109px
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.cent {
  display: flex;
  align-items: center;
}

.icon {
  padding: 5px;
  font-size: 30px;
}

.horizontal-scroll-contenedor {
  width: auto;
  height: 50px;
  padding: 10px;
  white-space: nowrap;
}


.gallery {


}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    border-radius: 9pc;
    cursor: pointer;
    img {
      z-index: 1;
      -webkit-transform: scale(1, 1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1, 1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
      width: 100px;
  
    }
  
    img:hover {
      -webkit-transform: scale(1.12, 1.12);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 100ms;
      -moz-transform: scale(1.12, 1.12);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 100ms;
    }
  }
}
div.bigImage {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 66%;
  overflow-y: hidden;
  overflow-x: auto;

}

div.bigImage img {
  width: 100%;
  height: auto;

}

.img-bigImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
