<div class="main-container">
  <button class="mr-1 btn btn-labeled btn-info mb-2" type="button"  [routerLink]="['/Lotes/','reportes',lote,sub,rut]">
    <span class="btn-label"><i class="fa fa-arrow-left"></i>
</span>Regresar</button>
  <div class="row justify-content-center">
  <div class="col-9">

  <div class="card  ">
    <div class="row p-3">
      <div class="col">
        <!-- <gallery id="basic-test" fluid [items]="items"></gallery> -->
          <div class="gallery" *ngFor="let item of data.images;let i = index;">
                <img [src]="url + item.image" [alt]="i+1" width="600" height="400">
          </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <p *ngIf="video.length == 0">Lo sentimos no tienes videos disponibles</p>
        <div *ngFor="let item of video;let i = index;">
          <video  controls>
            <source [src]="url+item.video" type="video/mp4">
          </video>
</div>
      </div>
    </div>
    <div class="row p-3">
      <div class="col">
        <h4>Nombre:
          <small>{{data.title}}</small>
        </h4>
        <h4>Descripción:
          <small> {{data.observation}}</small>
        </h4>
        <h4>Fecha:
          <small>{{data.datetime}}</small>
        </h4>
    </div>
  </div>
  <h2 class="p-3">Incidencia</h2>
  <div class="row p-3">
    <div class="col">
      <div *ngIf="agriculturalIncidence" class="row">
        <div class="col">
          <div class="cent">
            <img src="https://img.icons8.com/ios/50/000000/ground.png"/>
            <p>Suelo</p>

           <div *ngIf="agriculturalIncidence.ground == 1" class="icon" style="color: #008f39">
            <a class="fas fa-square"></a>
          </div>
          <div *ngIf="agriculturalIncidence.ground == 2" class="icon" style="color: #ffff00 ">
            <a class="fas fa-square"></a>
          </div>
          <div *ngIf="agriculturalIncidence.ground == 3" class="icon" style="color: #cb3234 ">
            <a class="fas fa-square"></a>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="cent">
            <img src="https://img.icons8.com/ios-filled/50/000000/sprout.png"/>
            <p>Tallo</p>
            <div *ngIf="agriculturalIncidence.stem == 1" class="icon" style="color: #008f39">
              <a class="fas fa-square"></a>
            </div>
            <div *ngIf="agriculturalIncidence.stem == 2" class="icon" style="color: #ffff00 ">
              <a class="fas fa-square"></a>
            </div>
            <div *ngIf="agriculturalIncidence.stem == 3" class="icon" style="color: #cb3234 ">
              <a class="fas fa-square"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cent">
            <img src="https://img.icons8.com/ios-filled/50/000000/leaf.png"/>
            <p>Hoja</p>
            <div *ngIf="agriculturalIncidence.leaf == 1" class="icon" style="color: #008f39">
              <a class="fas fa-square"></a>
            </div>
            <div *ngIf="agriculturalIncidence.leaf == 2" class="icon" style="color: #ffff00 ">
              <a class="fas fa-square"></a>
            </div>
            <div *ngIf="agriculturalIncidence.leaf == 3" class="icon" style="color: #cb3234 ">
              <a class="fas fa-square"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cent">
            <img src="https://img.icons8.com/ios-filled/50/000000/melon.png"/>
            <p>Fruto</p>
            <div *ngIf="agriculturalIncidence.fruit == 1" class="icon" style="color: #008f39">
              <a class="fas fa-square"></a>
            </div>
            <div *ngIf="agriculturalIncidence.fruit == 2" class="icon" style="color: #ffff00 ">
              <a class="fas fa-square"></a>
            </div>
            <div *ngIf="agriculturalIncidence.fruit == 3" class="icon" style="color: #cb3234 ">
              <a class="fas fa-square"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
      </div>
  
    </div>
  </div>
</div>
</div>
</div>
