<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <div class="card flex-row align-items-center align-items-stretch border-0">
        <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
          <a class="icon-user fa-3x text-white" routerLink="/Admin-Agronodo"></a>
        </div>
        <div class="col-8 py-3 bg-primary rounded-right">
          <div class="h2 mt-0">{{administradores.admin}}</div>
          <div class="text-uppercase">Administradores</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card flex-row align-items-center align-items-stretch border-0">
        <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
          <a class="fas fa-industry fa-3x text-white" routerLink="/Agricola"></a>
        </div>
        <div class="col-8 py-3 bg-purple rounded-right">
          <div class="h2 mt-0">{{administradores.agricolas}} </div>
          <div class="text-uppercase">Agrícolas</div>
        </div>
      </div>
    </div>
  </div>
</div>