<div class="container" >
  <div class="row">
    <div class="col-12">
      <p class="text-left py-2">Recuperar contraseña</p>
    </div>
    <div class="col-12">
      <form [formGroup]="valForm" class="form-validate" role="form" name="recoverForm" novalidate=""
        (submit)="submitForm($event, valForm.value)">
        <div class="form-group">
          <label class="text-muted">Correo</label>
          <div class="input-group ">
            <input class="form-control border-right-0" type="email" name="email" placeholder="example@hotmail.com"
              autocomplete="off" formControlName="email" />
            <div class="input-group-append">
              <span class="input-group-text text-muted bg-transparent border-left-0">
                <em class="fa fa-envelope"></em>
              </span>
            </div>
          </div>
          <div class="text-danger"
            *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
            This field is required</div>
          <div class="text-danger"
            *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
            This field must be a valid email address</div>
        </div>
        <p class="text-left">Mandaremos un mensaje a tu correo para verificar que estes registrado.</p>
        <div class="text-right">
          <button class="btn btn-success  mb-4 mt-4" type="submit ">Mandar correo</button>
        </div>
      </form>
    </div>
  </div>
</div>

