<!-- <div class="main-container background d-flex justify-content-center align-items-center align-content-center  " style="height: 100%;">
  <div class="row"> 
      <div class="wrapper">
        <div class="block-center mt-4 wd-xl ">-->
          <!-- START card-->
          <!-- <div class="card card-flat" style="border-radius: 20px;">
            <div class="card-header text-center bg-white" style="border-radius: 20px;">
            </div>
            <div class="card-body"> -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-left py-2">Recuperar contraseña</p>
                        </div>
                        <div class="col-12">
                            <form [formGroup]="valForm" class="form-validate" role="form" name="recoverForm" novalidate=""
                            (submit)="submitForm($event, valForm.value)">
                            <div class="form-group">
                              <label class="text-muted">Correo</label>
                              <div class="input-group ">
                                <input class="form-control border-right-0" type="email" name="email" placeholder="example@hotmail.com"
                                  autocomplete="off" formControlName="email" />
                                <div class="input-group-append">
                                  <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                  </span>
                                </div>
                              </div>
                              <div class="text-danger"
                                *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                                This field is required</div>
                              <div class="text-danger"
                                *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                                This field must be a valid email address</div>
                            </div>
                            <p class="text-left">Mandaremos un mensaje a tu correo para verificar que estes registrado.</p>
                            <div class="text-right">
                              
                              <button class="btn btn-success  mb-4 mt-4" type="submit">Mandar correo</button>
                            </div>
                          </form>

                        </div>
                        <!-- <div class="col-12">
                            <div class="p-3 text-center text-black">
                                <span>&copy;</span>
                                <span>{{ settings.getAppSetting('year') }}</span>
                                <span class="mx-2">-</span>
                                <span>Agronodo</span>
                                <br />
                                <span>{{ settings.getAppSetting('description') }}</span>
                              </div>
                        </div> -->
                    </div>
                </div>
              
            
            <!-- </div>
          </div> -->
          <!-- END card-->
         
     <!--    </div>
     </div>
     </div>
  </div> -->

