<div class="row">
  <div class="col-lg-4">
    <div class="card card-default">
      <div class="card-body text-center">
        <div class="py-4">
          <img *ngIf="filephoto === ''" class="img-fluid rounded-circle img-thumbnail thumb96"
            [src]="Url + imagenlocal.photo" alt="Contact" />
          <img *ngIf="filephoto !== ''" class="img-fluid rounded-circle img-thumbnail thumb96"
            [src]="'data:image/jpg;base64,'+ filephoto" alt="Contact" />
        </div>
        <div class=" p-0">
          <label for="file-upload" class="input-mod2 ">
            <a class="fas fa-upload"></a> Selecciona una imagen
          </label>
          <input id="file-upload" (change)="fileChangeListener($event)" type="file" style='display: none;' />
          <div class="btn-group btn-group-justified mb">
          </div>
        </div>
        <h3 *ngIf="role == 4" class="m-0 text-bold">{{dataprofile.agricola}}</h3>
        <h3 *ngIf="role == 2" class="m-0 text-bold">{{dataprofile.names}}</h3>
        <h4 *ngIf="role == 6" class="m-0 text-bold">{{dataprofile.names}}</h4>

        <div>
          <p class="m-1">{{dataUser.user_type_name}}</p>
          <span *ngIf="role == 6"> {{dataprofile.role}}
          </span>
        </div>
        <!--  Agricola -->
        <div *ngIf="dataUser.user_type === 4">
          <div class="col-12 mt-3">
            <hr>
            <h4 class="text-center">Permisos</h4>
            <div class="row  mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height ">
                <label>Alta de ingenieros</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>{{dataprofile.prmsAdminExtra}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height">
                <label>Lotes</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>{{dataprofile.prmsLotes}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8 text-left col-height">
                <div class="checkbox c-checkbox">
                  <label>Administradores extras</label>
                </div>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>{{dataprofile.prmsAdminExtra}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Agricola -->

        <!-- Admin Agricola -->
        <div *ngIf="dataUser.user_type === 5">
          <div class="col-12 mt-3">
            <hr>
            <h4 class="text-center">Permisos</h4>
            <div class="row  mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height ">
                <label>Alta de ingenieros</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>{{dataprofile.prmsAgregarAdmin}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height">
                <label>Lotes</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>{{dataprofile.prmsAgregarLotes}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8 text-left col-height">
                <div class="checkbox c-checkbox">
                  <label>Ingenieros</label>
                </div>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>{{dataprofile.prmsAltaIngenieros}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Agricola -->

        <!-- Admin Agronodo -->
        <div *ngIf="dataUser.user_type === 2">
          <div class="col-12 mt-3">
            <hr>
            <h4 class="text-center">Permisos</h4>
            <div class="row  mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height ">
                <label>Alta de administradores</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>si</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height">
                <label>Alta de agricolas</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p>si</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Agronodo -->

        <!-- Admin Ingeniero -->
        <div *ngIf="dataUser.user_type === 6">
          <div class="col-12 mt-3">
            <hr>
            <h4 class="text-center">Permisos</h4>
            <div class="row  mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height ">
                <label>Agregar lotes</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p *ngIf="dataprofile.canAddField == true">si</p>
                <p *ngIf="dataprofile.canAddField == false">No</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height">
                <label>Editar Ingenieros</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p *ngIf="dataprofile.canEditEngineers == true">si</p>
                <p *ngIf="dataprofile.canEditEngineers == false">No</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-sm-6 col-md-12 col-lg-9 col-xl-8  text-left col-height">
                <label>Ver reportes</label>
              </div>
              <div class="col-6 col-sm-6 col-sm-6 col-lg-3 col-xl-4 text-left">
                <p *ngIf="dataprofile.canSeeReports == true">si</p>
                <p *ngIf="dataprofile.canSeeReports == false">No</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Ingeniero -->
      </div>
    </div>

  </div>
  <!-- Agricola -->
  <div class="col-lg-8" *ngIf="role === 4">
    <div class="card card-default">
      <div class="card-header d-flex align-items-center">
        <div class="d-flex justify-content-center col">

        </div>

      </div>
      <div class="card-body">
        <div class="row py-4 justify-content-center">
          <div class="col-12 col-sm-10">
            <div class="form-horizontal">

              <form [formGroup]="agricola" (submit)="submitFormAgricola(agricola.value)">
                <!-- START card-->
                <div class="card ">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <div class="form-group row">
                          <div class="col">
                            <label>Usuario de la Agricola</label>
                            <input class="form-control" formControlName="username" type="text" disabled />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Email</label>
                            <input class="form-control" formControlName="email" type="email"
                              placeholder="example@example.com" disabled />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Agricola</label>
                            <input class="form-control" formControlName="name" type="text" />
                            <span class="text-danger" *ngIf="agricola.controls['name'].errors?.required">Ingresa un
                              campo
                              válido</span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Nombre de contacto</label>
                            <input class="form-control" formControlName="contactName" type="text" />
                            <span class="text-danger" *ngIf="agricola.controls['contactName'].errors?.required">Ingresa
                              un
                              campo
                              válido</span>
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col">
                            <label>Teléfono</label>
                            <input class="form-control" type="number" formControlName="phone" />
                            <span class="text-danger" *ngIf="agricola.controls['phone'].errors">Ingresa un numero
                              válido</span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Dirección</label>
                            <input class="form-control" formControlName="address" type="text" />
                            <span class="text-danger" *ngIf="agricola.controls['address'].errors?.required">Ingresa un
                              correo</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class=" text-center">
                    <button class="btn btn-info" type="submit" [disabled]="agricola.invalid"><em
                        class="fa mr-2 fas fa-plus"></em>Agregar</button>
                  </div>
                </div>
                <!-- END card-->
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Agricola -->

  <!-- Admin Agronodo -->
  <div class="col-lg-8" *ngIf="role === 2">
    <div class="card card-default">
      <div class="card-header d-flex align-items-center">
        <div class="d-flex justify-content-center col">

        </div>

      </div>
      <div class="card-body">
        <div class="row py-4 justify-content-center">
          <div class="col-12 col-sm-10">
            <div class="form-horizontal">
              <form [formGroup]="adminagronodo" (submit)="submitFormAdminAgronodo(adminagronodo.value)">
                <div class="card ">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <div class="form-group row">
                          <div class="col ">
                            <label>Nombre de usuario</label>
                            <input class="form-control" formControlName="username" type="text"
                              placeholder="example@example.com" disabled />
                            <span class="text-danger"
                              *ngIf="adminagronodo.controls['username'].errors?.required">Ingresa un
                              campo
                              válido</span>
                            <span class="text-danger"
                              *ngIf="adminagronodo.controls['username'].errors?.cannotContainSpace">
                              No se permiten espacios en este campo</span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Email</label>
                            <input class="form-control" formControlName="email" type="email"
                              placeholder="example@example.com" disabled />
                            <span class="text-danger" *ngIf="adminagronodo.controls['email'].errors?.email">Ingresa un
                              correo
                              válido</span>
                            <span class="text-danger" *ngIf="adminagronodo.controls['email'].errors?.required">Ingresa
                              un
                              correo</span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Nombre</label>
                            <input class="form-control" formControlName="names" type="text" />
                            <span class="text-danger" *ngIf="adminagronodo.controls['names'].errors?.required">Ingresa
                              un campo
                              válido</span>
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col">
                            <label>Teléfono</label>
                            <input class="form-control" type="number" formControlName="phone" />
                            <span class="text-danger" *ngIf="adminagronodo.controls['phone'].errors">Ingresa un numero
                              válido</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-info" type="submit"><em
                        class="fa mr-2 fas fa-plus font-13"></em>Guardar</button>
                  </div>
                </div>

              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Admin agronodo -->

  <!-- Agricola -->
  <div class="col-lg-8" *ngIf="role === 5">
    <div class="card card-default">
      <div class="card-header d-flex align-items-center">
        <div class="d-flex justify-content-center col">

        </div>

      </div>
      <div class="card-body">
        <div class="row py-4 justify-content-center">
          <div class="col-12 col-sm-10">
            <div class="form-horizontal">

              <form [formGroup]="Adminagricola" (submit)="submitFormAdminAgricola(Adminagricola.value)">
                <!-- START card-->
                <div class="card ">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <div class="form-group row">
                          <div class="col">
                            <label>Usuario de la Agricola</label>
                            <input class="form-control" formControlName="username" type="text" disabled />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Email</label>
                            <input class="form-control" formControlName="email" type="email"
                              placeholder="example@example.com" disabled />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Nombre de contacto</label>
                            <input class="form-control" formControlName="contactName" type="text" />
                            <span class="text-danger"
                              *ngIf="Adminagricola.controls['contactName'].errors?.required">Ingresa
                              un
                              campo
                              válido</span>
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col">
                            <label>Teléfono</label>
                            <input class="form-control" type="number" formControlName="phone" />
                            <span class="text-danger" *ngIf="Adminagricola.controls['phone'].errors">Ingresa un numero
                              válido</span>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                  <div class=" text-center">
                    <button class="btn btn-info" type="submit" [disabled]="Adminagricola.invalid"><em
                        class="fa mr-2 fas fa-plus"></em>Agregar</button>
                  </div>
                </div>
                <!-- END card-->
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Agricola -->

  <!-- Admin Enginner -->
  <div class="col-lg-8" *ngIf="role == 6">
    <div class="card card-default">
      <div class="card-header d-flex align-items-center">
        <div class="d-flex justify-content-center col">

        </div>

      </div>
      <div class="card-body">
        <div class="row py-4 justify-content-center">
          <div class="col-12 col-sm-10">
            <div class="form-horizontal">

              <form [formGroup]="adminEngineers" (submit)="submitFormAdminEnginner(adminEngineers.value)">
                <div class="card ">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">

                        <div class="form-group row">
                          <div class="col ">
                            <label>Nombre de usuario</label>
                            <input class="form-control" formControlName="username" type="text" disabled />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Email</label>
                            <input class="form-control" formControlName="email" type="email"
                              placeholder="example@example.com" disabled />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Nombre</label>
                            <input class="form-control" formControlName="names" type="text" />
                            <span class="text-danger" *ngIf="adminEngineers.controls['names'].errors?.required">Ingresa
                              un campo
                              válido</span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col">
                            <label>Teléfono</label>
                            <input class="form-control" type="number" formControlName="phone" />
                            <span class="text-danger" *ngIf="adminEngineers.controls['phone'].errors">Ingresa un
                              numero
                              válido</span>
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class=" text-center">
                      <button class="btn btn-info" type="submit"><em
                          class="fa mr-2 fas fa-plus font-13"></em>Guardar</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Admin Enginner -->
</div>