<div class="alt">
  <div class="main-container">
    <div class="row">
      <div class="col-12">
        <h3 class="m-0">Tareas</h3>
      </div>
      <div class="col">
        <p class="text-18">Ve la lista de Tareas, edita, elimina o agrega nuevas.</p>
      </div>
    </div>

  </div>
</div>

<div class="main-container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <em class="fa-2x mr-2 fas fa-search pos-icon"></em>
      <input class="form-control mb-2" type="text" placeholder="Buscar..." (keyup)='updateFilter($event)'
        style="border-radius: 21px;" />
    </div>
    <div class="col text-right">
      <button class="mb-1 mr-1 btn btn-success" type="button" routerLink="/Tareas/new">Agregar tarea</button>
    </div>
  </div>
</div>
<div class="card">
  <div class="row text-center">
    <div class="col">
      <h3>Tareas pendientes</h3>
    </div>
    <div class="col">
      <h3>Tareas realizadas</h3>
    </div>
  </div>
  <div class="row ">
    <div class="col-6 p-3">
      <ngx-datatable #table class="bootstrap expandable material fullscreen "
        style="height: calc(90vh - 270px); box-shadow: none; width: 100%;" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [scrollbarH]="true" [rows]='listTareas'
        (page)="onPage($event)">
        <!-- Column Templates -->
        <ngx-datatable-column name="#" [canAutoResize]="false">
          <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <strong>{{rowIndex + 1}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Titulo">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.title}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ingeniero">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.engineer }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha inicial">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.start_date}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Acción" [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-primary m-1 respo" (click)="modalshow();contentId(row);">
              <a class="fas fa-eye"></a>
            </button>
            <button class="btn btn-success m-1" type="button" [routerLink]="['/Tareas/',row.id]">
              <a class="fas fa-pencil-alt"></a> </button>
            <button class="btn btn-danger m-1" (click)="delete(row)">
              <a class="fas fa-trash-alt"></a>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>


    <div class="col-6 p-3">
      <ngx-datatable #table class="bootstrap expandable material fullscreen "
        style="height: calc(90vh - 270px); box-shadow: none; width: 100%;" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [scrollbarH]="true" [rows]='listTareasResolved'
        (page)="onPage($event)">
        <!-- Column Templates -->
        <ngx-datatable-column name="#" [width]="60" [canAutoResize]="false">
          <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <strong>{{rowIndex + 1}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Titulo">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.title}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ingeniero">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.engineer }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descripcion">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.description}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha final" [width]="80" [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.done_datetime | date:'dd-MM-yyyy'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Acción">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-primary m-1 respo" (click)="modalshow();contentId(row);">
              <a class="fas fa-eye"></a>
            </button>
            <button class="btn btn-success m-1" type="button" [routerLink]="['/Tareas/',row.id]">
              <a class="fas fa-pencil-alt"></a> </button>
            <button class="btn btn-danger m-1" (click)="delete(row)">
              <a class="fas fa-trash-alt"></a>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>


    </div>
  </div>

</div>
<!-- MODAL -->
<div bsModal #infoTask="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog modal-lg " style="height: 52%;width: 100%;">

    <div class="modal-content" style="width: 116%;">
      <div class="modal-header p-0">
        <div class="brand-logo" style="font-size: 20px;padding: 8px;">
          <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" style="height: 54px;" />
          Información
        </div>
        <button type="button" class="close" aria-label="Close" (click)="infoTask.hide();limpiarListas();"
          style="font-size: 34px;padding: 23px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <form [formGroup]="infoTaskForm">
                <div class="form-group ">
                  <input class="form-control d-none" formControlName="id" type="text" />
                  <div class="col-12">
                    <label>Titulo:</label>
                    <input class="form-control" formControlName="title" type="text" disabled />
                  </div>
                  <div class="row p-3">
                    <div class="col">
                      <label>Descripcion:</label>
                      <input class="form-control" formControlName="description" type="textarea" disabled />
                    </div>
                  </div>
                  <div class="row p-3">
                    <div class="col">
                      <label>Ingeniero:</label>
                      <input class="form-control" formControlName="engineer" type="text" disabled />
                    </div>
                  </div>
                  <div class="row p-2 pt-3">
                    <div class="col">
                      <label>Fecha limite:</label>
                      <input class="form-control" formControlName="end_date" type="date" disabled />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="true"
                [mapTypeControl]='true'>
                <agm-marker *ngFor="let item of taskMarkers" [latitude]="item.lat" [longitude]="item.lng" [opacity]="1"
                  [markerDraggable]="true">
                </agm-marker>
                <agm-polyline *ngFor="let polyline of nestedSubfield; let i = index;" [strokeColor]="polyline.color">
                  <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                  </agm-polyline-point>
                </agm-polyline>
                <agm-polyline *ngFor="let polyline of nestedField; let i = index;" [strokeColor]="'#4caf50'">
                  <agm-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
                  </agm-polyline-point>
                </agm-polyline>
              </agm-map>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>