<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="d-flex justify-content-center align-items-center">
        <div class="">
            <img class="img-fluid rounded-circle img-thumbnail thumb96" [src]="link+photo" alt="Avatar"
                [routerLink]="[ '/profile/', username ]" style="width: 80px;height: 75px;">
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">Bienvenido<br> {{name}}</span>
        <span class="user-block-role">{{type}}</span>
    </div>
</div>