<div class="wrapper">
  <div class="abs-center wd-xl">
    <!-- START card-->
    <div class="d-flex justify-content-center">
      <div class="p-2">
        <img class="img-thumbnail rounded-circle" [src]="'assets/img/logo.png'" alt="Avatar" width="60"
          height="60" />
      </div>
    </div>
    <div class="card b0">
      <div class="card-body">
        <p class="text-center">Please login to unlock your screen.</p>
        <form [formGroup]="valForm" role="form" name="lockForm" (submit)="submitForm(valForm.value)">
          <div class="form-group" *ngIf="password" >
              <label>Constraseña actual</label>
            <div class="input-group with-focus">
              <input class="form-control border-right-0" id="exampleInputPassword1" type="password"
                placeholder="Old password" name="password" formControlName="password" />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-lock"></em>
                </span>
              </div>
            </div>
            <span class="text-danger" *ngIf="valForm.controls['password'].errors?.required">
                Este campo es requerido</span>
          </div>
          <div  formGroupName="passwordGroup">
            <div class="form-group">
                <label>Nueva contraseña</label>
              <div class="input-group with-focus">
                <input class="form-control border-right-0" id="exampleInputPassword1" type="password"
                  placeholder="New password" name="password" formControlName="new_password1"
                  [formControl]="valForm.get('passwordGroup.new_password1')" />
                <div class="input-group-append">
                  <span class="input-group-text text-muted bg-transparent border-left-0">
                    <em class="fa fa-lock"></em>
                  </span>
                </div>
              </div>
              <span class="text-danger"
                  *ngIf="valForm.get('passwordGroup.new_password1').hasError('required') && (valForm.get('passwordGroup.new_password1').dirty || valForm.get('passwordGroup.new_password1').touched)">
                  El campo es obligatorio</span>
                <span class="text-danger" *ngIf="valForm.get('passwordGroup.new_password2').hasError('equalTo')">
                    Los campos deben de ser iguales
                </span>
            </div>
            <div class="form-group">
                <label>Repetir contraseña</label>
              <div class="input-group with-focus">
                <input class="form-control border-right-0" id="exampleInputPassword1" type="password"
                  placeholder="Confirm password" name="password" formControlName="new_password2"
                  [formControl]="valForm.get('passwordGroup.new_password2')" />
                <div class="input-group-append">
                  <span class="input-group-text text-muted bg-transparent border-left-0">
                    <em class="fa fa-lock"></em>
                  </span>
                </div>
                
              </div>
            </div>


          </div>
          <div class="text-center" *ngIf="token">
              <button *ngIf="valForm.valid" class="btn btn-md btn-success" type="submit">Enviar</button>
          </div>
          <div class="text-center" *ngIf="password">
            <button *ngIf="valForm.valid" class="btn btn-md btn-success" type="submit">Enviar</button>
        </div>
        </form>


      </div>
    </div>
    <!-- END card-->
    <div class="p-3 text-center">
      <span>&copy;</span>
      <span>{{ settings.getAppSetting('year') }}</span>
      <span class="mx-2">-</span>
      <span>Agronodo</span>
      <br />
      <span>

      </span>
    </div>
  </div>
</div>
