/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';

//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";


/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~weather-icons/css/weather-icons.css';
@import '~weather-icons/css/weather-icons-wind.css';

@import '~spinkit/css/spinkit.css';
@import '~loaders.css/loaders.css';

@import '~angular2-toaster/toaster.css';

@import '~ng2-dnd/bundles/style.css';

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-fresh.css';

@import '~ika.jvectormap/jquery-jvectormap-1.2.2.css';

@import '~jqcloud2/dist/jqcloud.css';

@import '~summernote/dist/summernote.css';

@import '~fullcalendar/dist/fullcalendar.min.css';

@import '~codemirror/lib/codemirror.css';

//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";

//Estilos para las tablas con paginas
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '../src/app/shared/styles/bootstrap/functions';
@import '../src/app/shared/styles/bootstrap/variables';
@import '../src/app/shared/styles/app/variables';

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #5d9cec !important;
  border-color: #5d9cec !important;
  color: #fff !important;
}

// remove link decoration
.datatable-icon-right {
  text-decoration: none !important;
}

// align table with no data legend
.ngx-datatable.bootstrap .empty-row {
  text-align: center;
  margin-top: 20px;
}

// tabele footer
.ngx-datatable.bootstrap .datatable-footer {
  background-color: transparent !important;
  color: $body-color !important;
}

// table pagination
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: $pagination-color !important;
}

.pager li>a,
.pager li>span {
  border-color: $pagination-border-color !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  border: 0 !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: rgba(0, 0, 0, 0.025) !important;
}

.ngx-datatable.bootstrap {
  background-color: transparent;
  box-shadow: 0 0 0 #000;
}

.ngx-datatable.scroll-vertical {
  height: 600px;
}

// with other table in the same page
.no-detail-row .datatable-row-detail {
  display: none !important;
}

// change color of active cells selected
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active,
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active:hover,
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {

  // background-color: $primary !important;
  .datatable-body-cell {
    color: #fff !important;
  }
}

.text-10 {
  font-size: 10px;
}

.text-15 {
  font-size: 15px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-25 {
  font-size: 25px;
}

.input-mod2 {
  padding: 5px 10px;
  background: #4b8ab1;
  color: #ffffff;
  cursor: pointer;
  border-radius: 9px;
}

.search-input {
  padding: 5px 18px;
  background: #ffffff;
  border-radius: 9px;
  border-style: solid;
  border-color: #808080;

}

input {
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #707070 !important;
  border-radius: 25px !important;
  opacity: 1 !important;
}

::placeholder {
  color: black !important;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(./assets/img/logo.png) !important;
}


.wrapper {
  .footer-container {
    background-color: #ffffff !important;
  }
}


.wrapper .aside-container .aside-inner {
  padding-top: 79px;
  height: 100%;
  width: 266px;
  overflow: hidden;
}

.layout-fixed .wrapper .section-container {
  margin-top: 67px;
}

.wrapper .section-container,
.wrapper .footer-container {
  margin-left: 268px;
}

.sidebar {
  background-color: #87C933 !important;
}

.border-header {
  border-bottom: 1px solid gray !important;
}

.black-btn {
  font-size: 15px;
  padding: 1px;
  width: 146px;
  height: 35px;
  color: #fff;
  border-radius: 25px;
  background: black;
  border-color: black;
  justify-content: center;
  transition: all 0.4s;
}

.green-btn {
  font-size: 15px;
  padding: 1px;
  width: 100%;
  height: 35px;
  color: #fff;
  border-radius: 25px;
  font-weight: 300;
  background-color: #87C933;
  border: 1px solid #87C933;
  justify-content: center;
  transition: all 0.4s;
}

.btn-regresar {
  font: Regular 15px/18px Century Gothic;
  font-size: 15px;
  padding: 1px;
  box-shadow: 0px 3px 6px #00000086;
  width: 116px;
  height: 39px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #FD0000;
  border-color: #FD0000;
  border-radius: 25px;
}

.more-btn {
  padding: 1px;
  width: 100%;
  height: 34px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  background-color: #FDCC00;
  border-color: #FDCC00;
  border-radius: 25px;
}

button:hover {
  color: white;
  box-shadow: 0px 3px 6px #00000086;

}

select {
  border-radius: 25px !important;
  display: block;
  width: 100%;
  height: 2.1875rem;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.52857143;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #707070;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-regresar:hover {
  color: white;
  box-shadow: 0px 1px 4px #00000086;
}

.modal-content {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000005F;
  border-radius: 48px;
  opacity: 1;
}
